Lab2/Q1WebAPI/Q1WebAPI/obj/.store/dotnet-aspnet-codegenerator/8.0.7/dotnet-aspnet-codegenerator/8.0.7/tools/net8.0/any/buildMultiTargeting/microsoft.visualstudio.web.codegeneration.tools.targets
Lab2/Q1WebAPI/Q1WebAPI/obj/.store/dotnet-aspnet-codegenerator/8.0.7/dotnet-aspnet-codegenerator/8.0.7/tools/net8.0/any/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Lab2/Q1WebAPI/Q1WebAPI/obj/.store/dotnet-aspnet-codegenerator/8.0.7/dotnet-aspnet-codegenerator/8.0.7/tools/net8.0/any/buildMultiTargeting/microsoft.visualstudio.web.codegeneration.tools.targets
Lab2/Q1WebAPI/Q1WebAPI/obj/.store/dotnet-aspnet-codegenerator/8.0.7/dotnet-aspnet-codegenerator/8.0.7/tools/net8.0/any/buildMultiTargeting/microsoft.visualstudio.web.codegeneration.tools.targets
Lab2/Q1WebAPI/Q1WebAPI/obj/.store/dotnet-aspnet-codegenerator/8.0.7/dotnet-aspnet-codegenerator/8.0.7/tools/net8.0/any/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
